{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="symbol"  id="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>

    {% if quote %}

            <!-- <td>{{ quote['name'] }}</td> -->
            <p>{{ quote['price']|usd }}</p>
            <p>{{ quote['symbol'] }}</p>

    {% endif %}
{% endblock %}
